<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewCustomerServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signOut</servlet-name>
        <servlet-class>com.nbs.controller.save.signOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewCommonLeggerServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetViewCommonLeggerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewDepositMasterServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetViewDepositMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewLoanMasterServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetViewLoanMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewActJournalServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetViewActJournalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewACT4Servlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetViewACT4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonLedgerAjaxServlet</servlet-name>
        <servlet-class>com.nbs.controller.common.CommonLedgerAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterBnkDepDepositTypesServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterBnkDepDepositTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterBnkLonLoanTypesServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterBnkLonLoanTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterBnkDepDepositCategoryServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterBnkDepDepositCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterBnkDepDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterBnkDepDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterBnkLonDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterBnkLonDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDepDopositTypesServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewDepDopositTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBnkLonLoanTypesServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewBnkLonLoanTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterMoneyTransactionServelet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterMoneyTransactionServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBnkDepDepositTransactionServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewBnkDepDepositTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterOneDepositDetailServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterOneDepositDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveACTServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.SaveACTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavingDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.SavingDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDepDepositMasterServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewDepDepositMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavingDetailsGetMasterDetilsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.SavingDetailsGetMasterDetilsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchSession</servlet-name>
        <servlet-class>com.nbs.controller.common.BranchSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCustomerComboServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.LoadCustomerComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCredtorServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.SaveCredtorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetBranchesCookieServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.SetBranchesCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailiCollectionServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.DailiCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.LoanDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanDetailsGetMasterDetilsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.LoanDetailsGetMasterDetilsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.nbs.controller.common.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrDrSearchServlet</servlet-name>
        <servlet-class>com.nbs.controller.common.CrDrSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSavingsCreditorServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.SaveSavingsCreditorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterDepositLoanDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterDepositLoanDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetterLoanTransactionServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.GetterLoanTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBnkLonLoanTransactionsServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewBnkLonLoanTransactionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PawningMasterServlet</servlet-name>
        <servlet-class>com.nbs.controller.pawning.save.PawningMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupServlet</servlet-name>
        <servlet-class>com.nbs.controller.common.BackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RePwnMasterServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.RePwnMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLonLoanMasterServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewLonLoanMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMember</servlet-name>
        <servlet-class>com.nbs.controller.save.NewMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetViewMemberServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.member.GetViewMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMemberComboServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.member.LoadMemberComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadViewMemberComboServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.member.LoadViewMemberComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadViewMemberServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.member.LoadViewMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSectionTableServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.section.GetSectionTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubsectionTableServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.section.GetSubsectionTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMainSectionServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.section.NewMainSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubSectionServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.section.NewSubSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PawningArticleServlet</servlet-name>
        <servlet-class>com.nbs.controller.pawning.save.PawningArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDepositCustomerServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.ViewDepositCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCustomerDetailForPawningServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.SelectCustomerDetailForPawningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPwningDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetPwningDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPwningMoreDetailServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetPwningMoreDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPwningDetailsForNunMemberServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetPwningDetailsForNunMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPwningMoreDetailsForNunMemberServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetPwningMoreDetailsForNunMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePwningSessionServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.RemovePwningSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLoadOtherServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetLoadOtherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectedPwnReasonServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetSelectedPwnReasonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwningReasonServlet</servlet-name>
        <servlet-class>com.nbs.controller.pawning.save.PwningReasonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NicGenarator</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.NicGenarator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepawningServlet</servlet-name>
        <servlet-class>com.nbs.controller.pawning.save.RepawningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>Test.Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeggerReport</servlet-name>
        <servlet-class>com.nbs.controller.common.ViewLeggerReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeggerReportServlet</servlet-name>
        <servlet-class>com.nbs.controller.common.ViewLeggerReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindLeggerDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.FindLeggerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePawnTypeServlet</servlet-name>
        <servlet-class>com.nbs.controller.pawning.save.SavePawnTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorePawnTypeDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.pawning.save.StorePawnTypeDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPawningTypeServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.GetPawningTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectedAct4Detail</servlet-name>
        <servlet-class>com.nbs.controller.get.GetSelectedAct4Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSessionLoanPrototypeServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.RemoveSessionLoanPrototypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSessionLoanTypeServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.RemoveSessionLoanTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreSavingDetailDataServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.StoreSavingDetailDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupDBServlet</servlet-name>
        <servlet-class>com.nbs.controller.common.BackupDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nicUpload</servlet-name>
        <servlet-class>com.nbs.controller.save.nicUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNic</servlet-name>
        <servlet-class>com.nbs.controller.save.saveNic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSavingData</servlet-name>
        <servlet-class>com.nbs.controller.get.GetSavingData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBnkLonLoanGurantorServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.NewBnkLonLoanGurantorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanPatnerDetailsServlet</servlet-name>
        <servlet-class>com.nbs.controller.get.LoanPatnerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPwnTiktNumber</servlet-name>
        <servlet-class>com.nbs.controller.get.pawning.getPwnTiktNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveImageServlet</servlet-name>
        <servlet-class>com.nbs.controller.save.saveImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/servlets/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/NewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signOut</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewCustomerServlet</servlet-name>
        <url-pattern>/GetViewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewCommonLeggerServlet</servlet-name>
        <url-pattern>/GetViewCommonLeggerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewDepositMasterServlet</servlet-name>
        <url-pattern>/GetViewDepositMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewLoanMasterServlet</servlet-name>
        <url-pattern>/GetViewLoanMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewActJournalServlet</servlet-name>
        <url-pattern>/GetViewActJournalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewACT4Servlet</servlet-name>
        <url-pattern>/GetViewACT4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonLedgerAjaxServlet</servlet-name>
        <url-pattern>/CommonLedgerAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterBnkDepDepositTypesServlet</servlet-name>
        <url-pattern>/GetterBnkDepDepositTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterBnkLonLoanTypesServlet</servlet-name>
        <url-pattern>/GetterBnkLonLoanTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterBnkDepDepositCategoryServlet</servlet-name>
        <url-pattern>/GetterBnkDepDepositCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterBnkDepDetailsServlet</servlet-name>
        <url-pattern>/GetterBnkDepDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterBnkLonDetailsServlet</servlet-name>
        <url-pattern>/GetterBnkLonDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDepDopositTypesServlet</servlet-name>
        <url-pattern>/NewDepDopositTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBnkLonLoanTypesServlet</servlet-name>
        <url-pattern>/NewBnkLonLoanTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterMoneyTransactionServelet</servlet-name>
        <url-pattern>/GetterMoneyTransactionServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBnkDepDepositTransactionServlet</servlet-name>
        <url-pattern>/NewBnkDepDepositTransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterOneDepositDetailServlet</servlet-name>
        <url-pattern>/GetterOneDepositDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveACTServlet</servlet-name>
        <url-pattern>/SaveACTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavingDetailsServlet</servlet-name>
        <url-pattern>/SavingDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDepDepositMasterServlet</servlet-name>
        <url-pattern>/NewDepDepositMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavingDetailsGetMasterDetilsServlet</servlet-name>
        <url-pattern>/SavingDetailsGetMasterDetilsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchSession</servlet-name>
        <url-pattern>/BranchSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCustomerComboServlet</servlet-name>
        <url-pattern>/LoadCustomerComboServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCredtorServlet</servlet-name>
        <url-pattern>/SaveCredtorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetBranchesCookieServlet</servlet-name>
        <url-pattern>/SetBranchesCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailiCollectionServlet</servlet-name>
        <url-pattern>/DailiCollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanDetailsServlet</servlet-name>
        <url-pattern>/LoanDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanDetailsGetMasterDetilsServlet</servlet-name>
        <url-pattern>/LoanDetailsGetMasterDetilsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrDrSearchServlet</servlet-name>
        <url-pattern>/CrDrSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSavingsCreditorServlet</servlet-name>
        <url-pattern>/SaveSavingsCreditorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterDepositLoanDetailsServlet</servlet-name>
        <url-pattern>/GetterDepositLoanDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetterLoanTransactionServlet</servlet-name>
        <url-pattern>/GetterLoanTransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBnkLonLoanTransactionsServlet</servlet-name>
        <url-pattern>/NewBnkLonLoanTransactionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PawningMasterServlet</servlet-name>
        <url-pattern>/PawningMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupServlet</servlet-name>
        <url-pattern>/BackupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RePwnMasterServlet</servlet-name>
        <url-pattern>/RePwnMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLonLoanMasterServlet</servlet-name>
        <url-pattern>/NewLonLoanMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMember</servlet-name>
        <url-pattern>/NewMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetViewMemberServlet</servlet-name>
        <url-pattern>/GetViewMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMemberComboServlet</servlet-name>
        <url-pattern>/LoadMemberComboServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadViewMemberComboServlet</servlet-name>
        <url-pattern>/LoadViewMemberComboServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadViewMemberServlet</servlet-name>
        <url-pattern>/LoadViewMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSectionTableServlet</servlet-name>
        <url-pattern>/GetSectionTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubsectionTableServlet</servlet-name>
        <url-pattern>/GetSubsectionTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMainSectionServlet</servlet-name>
        <url-pattern>/NewMainSectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubSectionServlet</servlet-name>
        <url-pattern>/NewSubSectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PawningArticleServlet</servlet-name>
        <url-pattern>/PawningArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDepositCustomerServlet</servlet-name>
        <url-pattern>/ViewDepositCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCustomerDetailForPawningServlet</servlet-name>
        <url-pattern>/SelectCustomerDetailForPawningServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPwningDetailsServlet</servlet-name>
        <url-pattern>/GetPwningDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPwningMoreDetailServlet</servlet-name>
        <url-pattern>/GetPwningMoreDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPwningDetailsForNunMemberServlet</servlet-name>
        <url-pattern>/GetPwningDetailsForNunMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPwningMoreDetailsForNunMemberServlet</servlet-name>
        <url-pattern>/GetPwningMoreDetailsForNunMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePwningSessionServlet</servlet-name>
        <url-pattern>/RemovePwningSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLoadOtherServlet</servlet-name>
        <url-pattern>/GetLoadOtherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectedPwnReasonServlet</servlet-name>
        <url-pattern>/GetSelectedPwnReasonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PwningReasonServlet</servlet-name>
        <url-pattern>/PwningReasonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NicGenarator</servlet-name>
        <url-pattern>/NicGenarator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepawningServlet</servlet-name>
        <url-pattern>/RepawningServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeggerReport</servlet-name>
        <url-pattern>/ViewLeggerReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeggerReportServlet</servlet-name>
        <url-pattern>/ViewLeggerReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindLeggerDetailsServlet</servlet-name>
        <url-pattern>/FindLeggerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePawnTypeServlet</servlet-name>
        <url-pattern>/SavePawnTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorePawnTypeDetailsServlet</servlet-name>
        <url-pattern>/StorePawnTypeDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPawningTypeServlet</servlet-name>
        <url-pattern>/GetPawningTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectedAct4Detail</servlet-name>
        <url-pattern>/GetSelectedAct4Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSessionLoanPrototypeServlet</servlet-name>
        <url-pattern>/RemoveSessionLoanPrototypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSessionLoanTypeServlet</servlet-name>
        <url-pattern>/RemoveSessionLoanTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreSavingDetailDataServlet</servlet-name>
        <url-pattern>/StoreSavingDetailDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupDBServlet</servlet-name>
        <url-pattern>/BackupDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nicUpload</servlet-name>
        <url-pattern>/nicUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNic</servlet-name>
        <url-pattern>/saveNic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSavingData</servlet-name>
        <url-pattern>/GetSavingData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBnkLonLoanGurantorServlet</servlet-name>
        <url-pattern>/NewBnkLonLoanGurantorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanPatnerDetailsServlet</servlet-name>
        <url-pattern>/LoanPatnerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPwnTiktNumber</servlet-name>
        <url-pattern>/getPwnTiktNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveImageServlet</servlet-name>
        <url-pattern>/saveImageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <ejb-local-ref>
        <ejb-ref-name>BnkPwnPawnMasterDao</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.nbs.dao.BnkPwnPawnMasterDaoLocal</local>
        <ejb-link>NewMyBank-ejb.jar#BnkPwnPawnMasterDao</ejb-link>
    </ejb-local-ref>
</web-app>
